@import url('./normalize.css');

:root {
  --white-color: #ffffff;
  --blue-color: #23a1d4;
  --light-blue-color: #6ec1e4;
  --grey-color: #54595f;
  --dark-grey-color: #ccc;
  --light-grey-color: #e9eff4;
  --black-color: #0f0f16;
  --pink-color: #d6007e;
  --orange-color: #ff8f03;
  --dark-green-color: #1b2c33;
  --almost-black-color: #111422;
  --lihgt-black-color: #14141c;
}

body {
  font-family: var(--font-montserrat);
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

h1,
h2,
h3 {
  font-family: var(--font-montserrat);
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 48px;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 0px;

  @media (max-width: 1040px) {
    font-size: 36px;
  }
}

h2 {
  font-size: 48px;
  line-height: 1;
  font-weight: 300;
  letter-spacing: 0px;

  @media (max-width: 1040px) {
    font-size: 36px;
  }
}

h3 {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0px;
  font-weight: 200;

  @media (max-width: 400px) {
    font-size: 16px;
  }
}

p {
  margin: 0;
  padding: 0;
  line-height: 1.7;
  letter-spacing: 0px;
}

p.name {
  font-size: 18px;
  letter-spacing: 0px;
  font-weight: 400;
}

p.description {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0px;
}

main {
  display: grid;
  grid-template-rows: auto auto auto;
  font-weight: 100;
  margin-left: 300px;
  overflow: hidden;
  min-height: 100vh;

  @media (max-width: 1040px) {
    margin: 0;
  }
}

footer {
  padding-left: 300px;
  background-color: var(--black-color);

  @media (max-width: 1040px) {
    padding: 0;
  }
}
