.mainLayoutWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.mainLayoutWrapper:has([data-page="not-found"]) ~ :global(footer) {
  display: none !important;
}

.pageWrapper {
  max-width: 1170px;
  margin: 0 auto;
  width: 100%;
  background-color: var(--white-color);
  position: relative;
}

.pageWrapperFullWidth {
  margin: 0 auto;
  width: 100%;
  background-color: var(--white-color);
  position: relative;
}
