.intro {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../../shared/images/for-section-intro/main-banner.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--white-color);
  box-sizing: border-box;
}

.intro {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../../shared/images/for-section-intro/main-banner.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--white-color);
  box-sizing: border-box;
}

.buttonsContainer {
  display: flex;
  gap: 20px;

  @media (max-width: 414px) {
    flex-direction: column;
    align-items: center;
  }
}

.introContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .content {
    max-width: 700px;
    padding: 0 40px;
    position: relative;
  }
}

@media (max-width: 1600px) {
  .introContainer .content {
    max-width: 600px;
    padding: 0 30px;
  }
}

@media (max-width: 1400px) {
  .introContainer .content {
    max-width: 550px;
    padding: 0 25px;
  }
}

@media (max-width: 1300px) {
  .introContainer .content {
    padding: 0 20px;
  }
}

@media (max-width: 1040px) {
  .introContainer .content {
    padding: 0 15px;
  }
}

@media (max-width: 768px) {
  .introContainer .content {
    padding: 0 10px;
  }
}

@media (max-width: 414px) {
  .introContainer .content {
    text-align: center;
  }
}

@media (max-width: 320px) {
  .introContainer .content {
    max-width: 300px;
    padding: 0 5px;
    text-align: center;
  }
}
