.techCardList {
  max-width: 100%;

  .techCardListContainer {
    margin: 0;
    padding: 0;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  }

  @media screen and (max-width: 768px) {
    .techCardListContainer {
      grid-template-columns: repeat(auto-fit, minmax(0, 310px));
      justify-content: center;
    }
  }
}
