.catalog {
  display: flex;
  flex-direction: column;
  background-color: var(--white-color);
  margin: auto;
}

.catalogContainer {
  display: grid;
  padding: 50px 40px 50px;
  gap: 50px;
  grid-template-columns: repeat(2, 1fr);
  transition: all 0.3s ease-in-out;

  @media (max-width: 1600px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }

  @media (max-width: 1400px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 35px;
  }

  @media (max-width: 1300px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  @media (max-width: 1040px) {
    grid-template-columns: 1fr 1fr;
    gap: 25px;
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 0 10px 100px;
  }

  @media (max-width: 480px) {
    grid-template-columns: 1fr;
    gap: 15px;
  }
}
