.portfolio {
  background-color: var(--white-color);
  position: relative;
  width: 100%;
  padding: 150px 40px 150px;
  margin: 0 auto;
  box-sizing: border-box;

  .sectionContent {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--white-color);
    max-width: 1170px;
    margin: 0 auto;
  }

  h1 {
    color: var(--black-color);
  }
}

.sectionTextContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.menuLink {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--black-color);
  text-decoration: none;
  font-size: 1.2em;
  transition: color 0.3s ease;

  p {
    position: relative;
  }

  &:hover {
    color: var(--pink-color);
  }
}

.imageContainer {
  display: flex;
  gap: 20px;
}
