.menuLinkWrapper {
  width: 100%;
  clear: both;
  margin: 0px;
  position: relative;
  padding: 1px 0px;
  box-sizing: border-box;
  transition: opacity 0.3s;

  .menuLink {
    cursor: pointer;
    display: block;
    color: var(--black-color);
    text-transform: uppercase;
    text-decoration: none;
    padding: 11px 7px;
    color: var(--white-color);
    transition: all .3s ease;
    position: relative;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);

    &::before {
      content: '';
      position: absolute;
      bottom: -1px;
      width: 0;
      left: 0px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.05);
      transition: width 0.5s ease;
    }

    &:hover::before {
      width: 100%;
    }
  }
}