.arrow {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  background-image: url('../../images/for-arrow/arrow-right.svg');
  background-position: center;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  position: absolute;
  opacity: 0;
  width: 20px;
  height: 20px;
  right: 50px;
  margin-left: 0;
  bottom: 40px;
  color: #eee;
  transition: all 0.3s 0.3s ease;
}
