.title {
  color: var(--white-color);
  position: relative;
  margin-bottom: 33px;
  padding-bottom: 14px;

  &.pink,
  &.blue,
  &.black,
  &.orange {
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100px;
      border-bottom: 2px solid var(--pink-color);
    }
  }

  &.pink {
    &::after {
      border-bottom-color: var(--pink-color);
    }
  }

  &.blue {
    &::after {
      border-bottom-color: var(--blue-color);
    }
  }

  &.black {
    &::after {
      border-bottom-color: var(--pink-color);
    }
    color: var(--black-color);
  }

  &.orange {
    font-size: 20px;
    &::after {
      border-bottom-color: var(--orange-color);
      width: 50px;
    }
  }

  .titleBold {
    font-weight: 500;
  }
}

.subtitle {
  margin-bottom: 43px;
}
