.contactsPage {
  margin: auto;
  max-width: 1170px;
}

.cardList {
  margin-left: auto;
  padding: 50px 40px 50px;
  max-width: 1170px;
  margin: auto;
  gap: 20px;
  transition:
    gap 0.3s ease,
    padding 0.3s ease;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

@media (max-width: 1040px) {
  .cardList {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
    padding: 0 10px 30px;
  }

  .cardItem {
    max-width: 100%;
    transform: none;
  }

  .cardItem:hover {
    transform: none;
  }
}
