.logoContainer {
  width: 100%;
  float: left;
  clear: both;
  position: relative;
  padding: 30px 60px;
  background-color: #111119;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
  box-sizing: border-box;
  margin-bottom: 64px;
}

.image {
  width: 200px;
  height: 168px;
}

.logoLine {
  position: absolute;
  top: 100%;
  left: 70px;
  right: 70px;
  height: 14px;
  background-color: #111119;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.15);

  ::before {
    border-top: 14px solid #111119;
    border-right: 10px solid transparent;
    content: '';
    position: absolute;
    right: -10px;
    top: 0px;
  }

  ::after {
    border-top: 14px solid #111119;
    border-left: 10px solid transparent;
    content: '';
    position: absolute;
    left: -10px;
    top: 0px;
  }
}
