.button {
  padding: 14px 25px;
  cursor: pointer;
  min-height: 50px;
  max-width: 227px;
  border-radius: 5px;
  position: relative;
  border-color: transparent;
  background-color: white;
  transition: 0.3s;

  &:not(:disabled):active {
    transform: translateY(1px);
  }

  &.blue {
    background-color: var(--blue-color);
    color: var(--black-color);

    &:hover {
      background-color: var(--black-color);
      color: var(--white-color);
    }
  }

  &.white {
    border: 1px solid var(--black-color);
    background-color: var(--white-color);

    &:hover {
      background-color: var(--pink-color);
      color: var(--white-color);
    }
  }

  &.pink {
    min-height: 40px;
    max-width: 283px;
    background-color: var(--pink-color);
    color: var(--white-color);
    font-weight: 600;
    letter-spacing: 0px;
    padding: 0px 90px 0px 50px;
    white-space: nowrap;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    border: none;
    position: absolute;
    bottom: 0;
    left: 0;
    clip-path: polygon(0% 0%, 80% 0%, 90% 100%, 0% 100%, 0% 100%);

    &:hover {
      background-color: var(--black-color);
      color: var(--pink-color);
    }
  }
}
