.imageContainer {
  position: relative;
  overflow: hidden;
  max-width: 448px;
  padding-bottom: 50px;
}

.dotsBackground {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, #ccc 1px, transparent 1px);
  background-size: 20px 20px;
  z-index: 1;
  max-width: 448px;
}

.imagWrapper {
  position: relative;
  z-index: 2;
  max-width: 448px;
}

.mainImage {
  padding: 57px 54px 0px;
  display: block;
  position: relative;
  z-index: 4;
  max-width: 448px;
  height: 100%;
}

.purpleBorder {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 100%;
  height: 100%;
  border: 5px solid var(--pink-color);
  z-index: 3;
  pointer-events: none;
}
