.videobox {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  width: 280px;
  color: var(--dark-grey-color);
  text-transform: uppercase;
  background: 0;
  border: 0;
  max-width: fit-content;
  font-weight: 500;
  z-index: 100;

  &:hover span::after {
    animation: ripple 2s forwards;
  }

  span {
    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 40px;
      height: 40px;
      left: 7px;
      top: 2px;
      background-color: inherit;
      z-index: -1;
      pointer-events: none;
      border: 2px solid var(--grey-color);
      border-radius: 100%;
      transform: scale(1);
      opacity: 1;

      @media (max-width: 414px) {
        left: 7px;
        top: -8px;
      }
    }

    &::before {
      content: '';
      position: absolute;
      border: 8px solid transparent;
      border-left-color: #ccc;
      border-top-width: 5px;
      border-bottom-width: 5px;
      top: 20px;
      left: 26px;
      transition: all 0.2s ease;
      z-index: 1;

      @media (max-width: 414px) {
        top: 9px;
        left: 27px;
      }
    }

    @keyframes ripple {
      0% {
        transform: scale(1);
        opacity: 1;
      }
      50% {
        transform: scale(1.2);
        opacity: 0.5;
        background-color: var(--grey-color);
      }
      100% {
        transform: scale(1);
        opacity: 1;
      }
    }
  }

  p {
    padding-left: 55px;
  }
}
