.advantages {
  position: relative;
  box-sizing: border-box;
  padding: 50px 25px;
  background-color: black;
}

.advantagesContainer {
  max-width: 1450px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
}
