.advantages {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  background-color: black;
  height: 149px;
}

@media screen and (max-width: 768px) {
  .advantages {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 375px));
    justify-content: center;
  }
}

@media screen and (max-width: 600px) {
  .advantages {
    padding: 50px 0 50px;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
  }
}
