.advantages {
  position: relative;
  box-sizing: border-box;
  padding: 50px 25px;
  background-color: black;
  box-sizing: border-box;
}

.advantagesContainer {
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  max-width: 1170px;
}
