.cardContent {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.cardImage {
  width: 100%;
  object-fit: cover;
}

.titleContainer {
  justify-content: space-between;
  box-sizing: border-box;
  justify-items: center;
  display: flex;
  color: var(--light-grey-color);
  background-color: var(--almost-black-color);
}

.cardTitle {
  align-self: center;
  padding: 0 30px 0;

  @media (max-width: 1040px) {
    padding: 0 10px 0;
    height: auto;
  }
}

.cardIcon {
  max-width: 60px;
  min-height: 71px;
  background-image: url('../../images/for-contactCard/location.svg');
  background-color: var(--pink-color);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 40px;
  min-width: 50px;
}

.contactInfo {
  box-sizing: border-box;
  gap: 8px;
  padding: 34px 30px;
  color: var(--light-grey-color);
  background-color: var(--black-color);
  height: 200px;
  line-height: 22px;

  @media (max-width: 1040px) {
    padding: 40px 10px 40px;
    height: auto;
  }
}

.contactAddress {
  margin-bottom: 8px;
}

.contactTel {
  margin-bottom: 8px;
}

.contactEmail {
  color: var(--blue-color);
}
