.burgerMenu {
  position: relative;
  background-color: var(--black-color);
}

.burgerIcon {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 24px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;
}

.burgerLine {
  width: 100%;
  height: 3px;
  background: var(--white-color);
  transition: all 0.3s ease;
}

.burgerIcon.open .burgerLine:nth-child(1) {
  transform: rotate(45deg) translate(6px, 6px);
}

.burgerIcon.open .burgerLine:nth-child(2) {
  opacity: 0;
}

.burgerIcon.open .burgerLine:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

.navigationContainer {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  background-color: var(--lihgt-black-color);
  max-height: 0;
  overflow: hidden;
  transition:
    max-height 0.3s ease-out,
    padding 0.3s ease-out;
}

.navigationContainer.open {
  max-height: 500px;
  padding: 20px;
}
