.about {
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: var(--white-color);
  padding: 150px 300px 150px;
}

.aboutContainer {
  align-content: center;
  justify-self: center;
  max-width: 50%;
}

@media screen and (max-width: 768px) {
  .about {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
  }

  .aboutContainer {
    padding: 0;
  }
}

@media screen and (max-width: 600px) {
  .about {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
  }

  .aboutContainer {
    padding: 0;
  }
}
