.about {
  position: relative;
  display: flex;
  align-items: start;
  justify-content: start;
  background-color: var(--white-color);
  padding-left: 150px;
}

.aboutContainer {
  align-content: center;
  max-width: 450px;
  justify-self: center;
}
