.about {
  padding-top: 150px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white-color);
  gap: 10%;
}

.aboutContainer {
  align-content: center;
  max-width: 450px;
  justify-self: center;
}
