.ourFeatures {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white-color);
  position: relative;
  padding: 150px 40px 150px;
  box-sizing: border-box;

  .sectionContent {
    width: 100%;
    max-width: 1170px;
    background-color: var(--white-color);
  }

  h1 {
    color: var(--black-color);
  }
}
