.ourFeatures {
  background-color: var(--white-color);
  position: relative;
  width: 100%;
  padding: 150px 0 150px;

  .sectionContent {
    background-color: var(--white-color);
    padding: 0 300px 0;
  }

  h1 {
    color: var(--black-color);
  }
}
